<div id="home-content-wrapper">

	<div id="home-content-header-thin">
		<p class="intro-message"><strong>Agua Caliente Sanitaria (ACS)</strong><br>
          Aproveche la energía solar para su suminstro de agua caliente.<br>
          El sol sale para todos y en nuestras manos está beneficiarnos de su calor para calentar el agua de nuestros hogares.<br></p>
		<div id="home-download">
			<h1>Llámanos:</h1>
			<a href="/contacto" class="btn-download"><span>974 541 317 - 636 057 721</span></a>
			<ul>
				<li><a href="https://maps.google.com/maps?q=aler+huesca&hl=en&ll=42.103317,0.450783&spn=0.068521,0.181789&sll=38.341656,-95.712891&sspn=36.826016,93.076172&hnear=Aler,+Huesca,+Aragon,+Spain&t=m&z=13" target="_blank">Dónde estamos (Google Maps)</span></a></li>
			</ul>
		</div>
	</div><!-- /home-content-header -->

	<div id="home-content">
		<div id="home-nav">
			<div class="home-nav-section-wide">
				<img src="/public/images/esquemaACS.jpg" alt="home-nav-widgets" height="147" width="250">
			</div>
			
			<div class="home-nav-section-wideend last">
				<p>Este sistema consiste en la colocación de captadores solares en el tejado o azotea de su hogar, que calientan el agua que circula por su interior y la reparten hacia los puntos de consumo, baños, cocina... Tanto en invierno como en verano, necesitamos agua caliente, el sol nos proporciona la energía necesaria para calentar el agua de consumo. Hoy en día la mejora y diversificación de los captadores solares permiten que esta tecnología esté al alcance de todos. El 17 marzo de 2006 se aprobó el Nuevo Código de la Edificación (<strong>R. D. 314/2006 de 28 de marzo</strong>). En él se establecen unos nuevos requisitos energéticos para todos los edificios de nueva construcción o de rehabilitación importante. La contribución solar mínima de agua caliente sanitaria, será de obligada instalación para cubrir un determinado porcentaje anual de las necesidades energéticas para la producción del agua caliente sanitaria o climatización de piscinas cubiertas en función del uso de la edificación.</p>
			</div>
		</div><!-- /home-nav -->
	
		<div id="home-sidebar">
			<div class="home-sidebar-section">
				<h2>Novedad</h2>
				<p> Visita nuestra <a href="/products">tienda</a> y solicita todo lo que necesitas de nuestros proveedores. Nos encargaremos de hacértelo llegar.</p>
				<p>Hemos hecho un esfuerzo para conseguir prestar un servicio más eficiente y ajustado a tus necesidades.</p>
				<p>Si tienes cualquier pregunta, no dudes en <a href="/contacto">hacérnosla llegar</a>.</p>
			</div>
			
		</div><!-- home-sidebar -->
	</div><!-- /home-content -->

</div><!-- /home-content-wrapper -->