<div id="home-content-wrapper">

	<div id="home-content-header">
		<p class="intro-message"><strong>Calderas de Biomasa</strong><br>
          Calefacción sostenible y económica.<br>
          Utilizar la biomasa como combustible para la calefacción del hogar es un recurso renovable mucho mes económico que el gasoil o el gas.</p>
		<div id="home-download">
			<h1>Llámanos:</h1>
			<a href="/contacto" class="btn-download"><span>974 541 317 - 636 057 721</span></a>
			<ul>
				<li><a href="https://maps.google.com/maps?q=aler+huesca&hl=en&ll=42.103317,0.450783&spn=0.068521,0.181789&sll=38.341656,-95.712891&sspn=36.826016,93.076172&hnear=Aler,+Huesca,+Aragon,+Spain&t=m&z=13" target="_blank">Dónde estamos (Google Maps)</span></a></li>
			</ul>
		</div>
	</div><!-- /home-content-header -->

	<div id="home-content">
		<div id="home-nav">
			<div class="home-nav-section-wide">
				<img src="/public/images/biomasa.jpg" alt="home-nav-widgets" height="147" width="220">
			</div>
			
			<div class="home-nav-section-wideend last">
				<p>La calefacción con caldera de biomasa es la opción mas rentable y eficiente. La inversión en una instalación de calefacción con biomasa es una inversión segura porque permite no depender de las fluctuaciones de los precios del sector energético. Las calderas de biomasa son la mejor opción para aprovechar unos recursos energéticos de los que 2/3 proceden de cultivos de madera. Con ello se asegura la creación de puestos de trabajo dentro de la propia economía a la vez que se fomenta el consumo de fuentes de energía renovables.</p>
			</div>
		</div><!-- /home-nav -->
	
		<div id="home-sidebar">
			<div class="home-sidebar-section">
				<h2>Novedad</h2>
				<p> Visita nuestra <a href="/products">tienda</a> y solicita todo lo que necesitas de nuestros proveedores. Nos encargaremos de hacértelo llegar.</p>
				<p>Hemos hecho un esfuerzo para conseguir prestar un servicio más eficiente y ajustado a tus necesidades.</p>
				<p>Si tienes cualquier pregunta, no dudes en <a href="/contacto">hacérnosla llegar</a>.</p>
			</div>
			
		</div><!-- home-sidebar -->
	</div><!-- /home-content -->

</div><!-- /home-content-wrapper -->