<div id="home-content-wrapper">

	<div id="home-content-header">
		<p class="intro-message"><strong>Calefacción</strong><br>
          La energía solar también hace más acogedor su hogar.<br>
          Además del agua de consumo, la energía solar puede calentar el agua que circula por los tubos de la calefacción, proporcionándonos un gran ahorro en gas o electricidad.</p>
		<div id="home-download">
			<h1>Llámanos:</h1>
			<a href="/contacto" class="btn-download"><span>974 541 317 - 636 057 721</span></a>
			<ul>
				<li><a href="https://maps.google.com/maps?q=aler+huesca&hl=en&ll=42.103317,0.450783&spn=0.068521,0.181789&sll=38.341656,-95.712891&sspn=36.826016,93.076172&hnear=Aler,+Huesca,+Aragon,+Spain&t=m&z=13" target="_blank">Dónde estamos (Google Maps)</span></a></li>
			</ul>
		</div>
	</div><!-- /home-content-header -->

	<div id="home-content">
		<div id="home-nav">
			<div class="home-nav-section-wide">
				<img src="/public/images/calefaccion.jpg" alt="home-nav-widgets" height="147" width="250">
			</div>
			
			<div class="home-nav-section-wideend last">
				<p>El sistema de calefacción que mayor rendimiento produce es el <strong>Suelo Radiante</strong>, que consiste en una red de tuberías, que empotradas bajo los suelos de nuestras casas, hacen circular agua caliente. El calor del agua se trasmite al suelo y este, a su vez, cede el calor al ambiente de las habitaciones.	 Este tipo de calefacciones requiere una temperatura del agua que circula por ellas de 30 a 40 grados centígrados, mientas que las calefacciones convencionales de radiadores funcionan a 80 - 90 grados. Esta diferencia de temperatura nos da dos grandes ventajas: la primera es el importante <strong>ahorro energético que supone tener que calentar el agua la mitad</strong>, y la segunda es que permite utilizar fuentes de calor (calderas) que generan agua caliente de baja temperatura y que ahorran también energía, como bombas de calor y paneles solares.	 El calor se reparte uniformemente por la habitación, <strong>no existen zonas frías</strong> y calientes, por lo que la calefacción es suave y agradable en toda la estancia. Las habitaciones con suelo radiante quedan libres de cualquier aparato emisor de calor como los radiadores, por lo que la estética no se ve alterada.	 La calefacción por suelo radiante no levanta polvo, pues no produce corrientes de aire. No ennegrece las paredes, los techos ni las cortinas.	 La superficie del suelo alcanza una suave temperatura (entre 24 y 28 grados), lo que permite a los niños jugar en el suelo sin peligro de enfriamientos. Otra ventaja es que este tipo de calefacción no reseca el aire evitando los molestos problemas respiratorios de las calefacciones convencionales.</p>
			</div>
		</div><!-- /home-nav -->
	
		<div id="home-sidebar">
			<div class="home-sidebar-section">
				<h2>Novedad</h2>
				<p> Visita nuestra <a href="/products">tienda</a> y solicita todo lo que necesitas de nuestros proveedores. Nos encargaremos de hacértelo llegar.</p>
				<p>Hemos hecho un esfuerzo para conseguir prestar un servicio más eficiente y ajustado a tus necesidades.</p>
				<p>Si tienes cualquier pregunta, no dudes en <a href="/contacto">hacérnosla llegar</a>.</p>
			</div>
			
		</div><!-- home-sidebar -->
	</div><!-- /home-content -->

</div><!-- /home-content-wrapper -->