<div id="home-content-wrapper">

	<div id="home-content-header">
		<p class="intro-message"><strong>Climatización de piscinas</strong><br>
          La energía solar hace del baño algo nuevo.<br>
          Aumentar unos grados la temperatura de las piscinas hace que el baño sea agradable incluso en zonas de montaña y permite alargar la temporada turística.</p>
		<div id="home-download">
			<h1>Llámanos:</h1>
			<a href="/contacto" class="btn-download"><span>974 541 317 - 636 057 721</span></a>
			<ul>
				<li><a href="https://maps.google.com/maps?q=aler+huesca&hl=en&ll=42.103317,0.450783&spn=0.068521,0.181789&sll=38.341656,-95.712891&sspn=36.826016,93.076172&hnear=Aler,+Huesca,+Aragon,+Spain&t=m&z=13" target="_blank">Dónde estamos (Google Maps)</span></a></li>
			</ul>
		</div>
	</div><!-- /home-content-header -->

	<div id="home-content">
		<div id="home-nav">
			<div class="home-nav-section-wide">
				<img src="/public/images/piscinas.jpg" alt="home-nav-widgets" height="147" width="250">
			</div>
			
			<div class="home-nav-section-wideend last">
				<p>Una instalación de <a href="/agua_caliente_sanitaria">Agua Caliente Sanitaria</a> también permite <strong>elevar la temperatura del agua de piscinas descubiertas de hoteles, campings y apartamentos</strong>, consiguiendo así alargar la temporada de baño y consecuentemente la satisfacción de los clientes de estos establecimientos turísticos. Estas instalaciones son muy sencillas y económicas, ya que se basan en un sistema de bombeo que hace circular el agua de la piscina hacia los colectores solares y retornar con la temperatura elevada <strong>para hacer mas agradable el baño</strong>.</p>
			</div>
		</div><!-- /home-nav -->
	
		<div id="home-sidebar">
			<div class="home-sidebar-section">
				<h2>Novedad</h2>
				<p> Visita nuestra <a href="/products">tienda</a> y solicita todo lo que necesitas de nuestros proveedores. Nos encargaremos de hacértelo llegar.</p>
				<p>Hemos hecho un esfuerzo para conseguir prestar un servicio más eficiente y ajustado a tus necesidades.</p>
				<p>Si tienes cualquier pregunta, no dudes en <a href="/contacto">hacérnosla llegar</a>.</p>
			</div>
			
		</div><!-- home-sidebar -->
	</div><!-- /home-content -->

</div><!-- /home-content-wrapper -->