<div id="home-content-wrapper">

	<div id="home-content-header">
		<p class="intro-message"><strong>Contacte con nosotros</strong><br>
Aquí encontrará las diferentes maneras de que dispone para conocernos y hacernos llegar sus preguntas.  <br>
		
		<div id="home-download">
			<h1>Llámanos:</h1>
			<a href="/contacto" class="btn-download"><span>974 541 317 - 636 057 721</span></a>
			<ul>
				<li><a href="https://maps.google.com/maps?q=aler+huesca&hl=en&ll=42.103317,0.450783&spn=0.068521,0.181789&sll=38.341656,-95.712891&sspn=36.826016,93.076172&hnear=Aler,+Huesca,+Aragon,+Spain&t=m&z=13" target="_blank">Dónde estamos (Google Maps)</span></a></li>
			</ul>
		</div>
	</div><!-- /home-content-header -->

	<div id="home-content">
		<div id="home-nav">
			<div class="home-nav-section">
				<img src="/public/images/at.jpg" alt="home-nav-widgets" height="128" width="173">
				<h3>Contactar</h3> 
				<p>Contacte con nosotros en los teléfonos <strong>974 541 317 y 636 057 721</strong> o bien a través de nuestra dirección de email: <strong>info@tecnisolar.es</strong></p>
			</div>
			
			<div class="home-nav-section">
				<img src="/public/images/taller.jpg" alt="home-nav-themes" height="128" width="173">
				<h3>Taller</h3>
				<p>Puede encontrarnos en C/ Iglesia nº 2 - 22589 Aler (Huesca) ARAGÓN</p>
				<ul>
					<li><a href="#" title="Click para ampliar" onclick=MM_openBrWindow('map.html','','scrollbars=no,width=350,height=367');return false;" onkeypress="MM_openBrWindow('mapa_grande.html','','scrollbars=no,width=543,height=506');return false;" class="learn-more">Ver mapa</a></li>
					<li><a href="https://maps.google.com/maps?q=aler+huesca&hl=en&ll=42.103317,0.450783&spn=0.068521,0.181789&sll=38.341656,-95.712891&sspn=36.826016,93.076172&hnear=Aler,+Huesca,+Aragon,+Spain&t=m&z=13" target="_blank" class="learn-more">Ver en Google Maps ©</a></li>
				</ul>
			</div>
			
			<div class="home-nav-section last">
				<a href="/form"><img src="/public/images/webform.jpg" alt="home-nav-docs" height="128" width="173"></a>
				<h3>Formulario web</h3>
				<p>Rellene un sencillo formulario y nosotros nos pondremos en contacto con usted.</p>
				<ul>
					<li><a href="/form" class="learn-more">Formulario de contacto</a></li>
				</ul>
			</div>
		</div><!-- /home-nav -->
	
		<div id="home-sidebar">
			<div class="home-sidebar-section">
				<h2>Novedad</h2>
				<p> Visita nuestra <a href="/products">tienda</a> y solicita todo lo que necesitas de nuestros proveedores. Nos encargaremos de hacértelo llegar.</p>
				<p>Hemos hecho un esfuerzo para conseguir prestar un servicio más eficiente y ajustado a tus necesidades.</p>
				<p>Si tienes cualquier pregunta, no dudes en <a href="/contacto">hacérnosla llegar</a>.</p>
			</div>
			
		</div><!-- home-sidebar -->
	</div><!-- /home-content -->

</div><!-- /home-content-wrapper -->