<div id="home-content-wrapper">

	<div id="home-content-header">
		<p class="intro-message"><strong>Envíenos sus comentarios</strong><br>
        Rellene el siguiente formulario si quiere solicitar información y desea ponerse en contacto con nosotros de la manera más sencilla para usted. 
        En un breve plazo recibiremos un email con sus datos y le atenderemos en el menor tiempo posible.<br>
		<div id="home-download">
			<h1>Llámanos:</h1>
			<a href="/contacto" class="btn-download"><span>974 541 317 - 636 057 721</span></a>
			<ul>
				<li><a href="https://maps.google.com/maps?q=aler+huesca&hl=en&ll=42.103317,0.450783&spn=0.068521,0.181789&sll=38.341656,-95.712891&sspn=36.826016,93.076172&hnear=Aler,+Huesca,+Aragon,+Spain&t=m&z=13" target="_blank">Dónde estamos (Google Maps)</span></a></li>
			</ul>
		</div>
	</div><!-- /home-content-header -->

	<div id="home-content">
		<div id="home-nav">
			<div class="home-nav-section-wide">
				<img src="/public/images/logo_mail.jpg" alt="home-nav-widgets" height="147" width="170">
			</div>
			
			<div class="home-nav-section-wideend last">
				<p>
                  <%= form_tag :action => 'submit_mail' do%>
                  	<table border="0" cellpadding="10" cellspacing="0" width="30%">		  	
                  	  <tr><td width="25%">Nombre y Apellidos</td><td><input type="text" name="Nombre y Apellidos" size="40"></td></tr>
                  	  <tr><td>Teléfono de contacto</td><td><input type="text" name="Teléfono de contacto" size="40"></td></tr>
                  	  <tr><td>Email</td><td><input type="text" name="Email" size="40"></td></tr>
                  	  <tr><td>Comentarios</td><td><TEXTAREA NAME="Comentarios" COLS="30" ROWS="6"></TEXTAREA></td></tr>
                  	  <tr><td colspan=2 align="center"><%=submit_tag "Enviar"%></td></tr>
                  	</table>
                  <%end%>
				</p>
			</div>
		</div><!-- /home-nav -->
	
		<div id="home-sidebar">
			<div class="home-sidebar-section">
				<h2>Novedad</h2>
				<p> Visita nuestra <a href="/products">tienda</a> y solicita todo lo que necesitas de nuestros proveedores. Nos encargaremos de hacértelo llegar.</p>
				<p>Hemos hecho un esfuerzo para conseguir prestar un servicio más eficiente y ajustado a tus necesidades.</p>
				<p>Si tienes cualquier pregunta, no dudes en <a href="/contacto">hacérnosla llegar</a>.</p>
			</div>
			
		</div><!-- home-sidebar -->
	</div><!-- /home-content -->

</div><!-- /home-content-wrapper -->