<div id="home-content-wrapper">

<div id="home-content-header-thinest">
    <p class="intro-message"><strong>Gracias por ponerse en contacto con nosotros</strong></p>
</div>

  <div id="home-content">
    <div id="home-nav">      
      <div class="home-nav-section-wideend last">
        <p>La información ha sido enviada correctamente. Recogeremos sus datos y la atenderemos en el menor tiempo posible. Si lo desea puede continuar navegando por <%= link_to 'nuestro sitio', root_path %>.</p>
      </div>
      <div id="separator"></div>
      <div id="product_links">
        
      </div>
    </div><!-- /home-nav -->
  
  </div><!-- /home-content -->

</div><!-- /home-content-wrapper -->