<div id="home-content-wrapper">

	<div id="home-content-header">
		<p class="intro-message"><strong>Energía Solar: La solución más inteligente</strong><br>
Conozca sus principales ventajas. <br>
AJUSTADA A CADA NECESIDAD: Realizamos proyectos personalizados. Una tecnología bien desarrollada que puede instalarse con rapidez.</p>
		
		<div id="home-download">
			<h1>Llámanos:</h1>
			<a href="/contacto" class="btn-download"><span>974 541 317 - 636 057 721</span></a>
			<ul>
				<li><a href="/contacto">Dónde estamos</span></a></li><li>-</li>
				<li><a href="/form">Formulario</span></a></li>
			</ul>
		</div>
	</div><!-- /home-content-header -->

	<div id="home-content">
		<div id="home-nav">
			<div class="home-nav-section">
				<img src="/public/images/bujaruelohome.jpg" alt="home-nav-widgets" height="128" width="173">
				<h3>Ahorro</h3> 
				<p>El aprovechamiento de esta energía para calentar el agua de consumo de su hogar permite una reducción de hasta el 70% en la factura del gas.</p>
			</div>
			
			<div class="home-nav-section">
				<img src="/public/images/alamoshome.jpg" alt="home-nav-themes" height="128" width="173">
				<h3>Dependencia Energética</h3>
				<p>El calor del sol permite generar de forma autosuficiente la mayor parte de la energía para cubrir las necesidades del hogar.</p>
			</div>
			
			<div class="home-nav-section last">
				<img src="/public/images/tolvahome.jpg" alt="home-nav-docs" height="128" width="173">
				<h3>Sostenibilidad</h3>
				<p>La energía solar no produce emisiones de ningún tipo a la atmósfera, por lo que no existe impacto ambiental ni contaminación. No consume recursos agotables y por lo tanto no hipoteca el futuro.</p>
			</div>
			<!-- links -->
			<div>
				 <div class="home-nav-section">
 					<ul>
			  	    	<li><a href="/agua_caliente_sanitaria" class="learn-more">Agua Caliente Sanitaria (ACS)</a></li>
			  	    	<li><a href="/calefaccion" class="learn-more">Calefacción</a></li>
			    	</ul>
				 </div>
				 <div class="home-nav-section">
 					<ul>
			  	    	<li><a href="/instalaciones_hoteleras_campings" class="learn-more">Instalaciones hoteleras y Campings</a></li>
						<li><a href="/climatizacion_piscinas" class="learn-more">Climatización de piscinas</a></li>
			    	</ul>
				 </div>
				 <div class="home-nav-section last">
  				    <ul>
						<li><a href="/instalaciones_agricolas" class="learn-more">Instalaciones agrícolas</a></li>
						<li><a href="/calderas_biomasa" class="learn-more">Calderas de biomasa</a></li>
				    </ul>
				 </div>
			</div>
			<!-- /links -->
		</div><!-- /home-nav -->
		<div id="home-sidebar">
			<div class="home-sidebar-section">
				<h2>Novedad</h2>
				<p> Visita nuestra <a href="/products">tienda</a> y solicita todo lo que necesitas de nuestros proveedores. Nos encargaremos de hacértelo llegar.</p>
				<p>Hemos hecho un esfuerzo para conseguir prestar un servicio más eficiente y ajustado a tus necesidades.</p>
				<p>Si tienes cualquier pregunta, no dudes en <a href="/contacto">hacérnosla llegar</a>.</p>
			</div>
		</div><!-- home-sidebar -->
	</div><!-- /home-content -->

</div><!-- /home-content-wrapper -->