<div id="home-content-wrapper">

	<div id="home-content-header-thin">
		<p class="intro-message"><strong>Instalaciones hoteleras y Campings</strong><br>
          Reduzca el gasto energético en este tipo de instalaciones.<br>
          Las instalaciones turísticas necesitan grandes cantidades de agua caliente a diario, por eso son hoteles y campings nuestros principales clientes.</p>
		<div id="home-download">
			<h1>Llámanos:</h1>
			<a href="/contacto" class="btn-download"><span>974 541 317 - 636 057 721</span></a>
			<ul>
				<li><a href="https://maps.google.com/maps?q=aler+huesca&hl=en&ll=42.103317,0.450783&spn=0.068521,0.181789&sll=38.341656,-95.712891&sspn=36.826016,93.076172&hnear=Aler,+Huesca,+Aragon,+Spain&t=m&z=13" target="_blank">Dónde estamos (Google Maps)</span></a></li>
			</ul>
		</div>
	</div><!-- /home-content-header -->

	<div id="home-content">
		<div id="home-nav">
			<div class="home-nav-section-wide">
				<img src="/public/images/hoteles.jpg" alt="home-nav-widgets" height="147" width="250">
			</div>
			
			<div class="home-nav-section-wideend last">
				<p>Somos <strong>conscientes del elevado consumo de agua caliente que requieren las instalaciones hoteleras</strong>, tanto en agua sanitaria para las habitaciones, como en lavanderías y cocinas. Por ello queremos dar a conocer este tipo de instalaciones que aportan un gran ahorro energético para el empresario y una mejora para el medio ambiente. La instalación de captadores solares <strong>garantiza un 70% de ahorro de energía anual en gas, y está especialmente indicada para las duchas de los campings ya que en temporada alta su rendimiento es del 100%</strong>, evitando así el consumo de otras energías de apoyo, en los meses de máxima ocupación.</p>
			</div>
		</div><!-- /home-nav -->
	
		<div id="home-sidebar">
			<div class="home-sidebar-section">
				<h2>Novedad</h2>
				<p> Visita nuestra <a href="/products">tienda</a> y solicita todo lo que necesitas de nuestros proveedores. Nos encargaremos de hacértelo llegar.</p>
				<p>Hemos hecho un esfuerzo para conseguir prestar un servicio más eficiente y ajustado a tus necesidades.</p>
				<p>Si tienes cualquier pregunta, no dudes en <a href="/contacto">hacérnosla llegar</a>.</p>
			</div>
			
		</div><!-- home-sidebar -->
	</div><!-- /home-content -->

</div><!-- /home-content-wrapper -->