<div id="home-content-wrapper">

	<div id="home-content-header-thin">
		<p class="intro-message"><strong>¿Qué ofrecemos?</strong><br>
Aquí encontrará las diferentes maneras de que dispone para conocernos y hacernos llegar sus preguntas.  <br>
		<div id="home-download">
			<h1>Llámanos:</h1>
			<a href="/contacto" class="btn-download"><span>974 541 317 - 636 057 721</span></a>
			<ul>
				<li><a href="https://maps.google.com/maps?q=aler+huesca&hl=en&ll=42.103317,0.450783&spn=0.068521,0.181789&sll=38.341656,-95.712891&sspn=36.826016,93.076172&hnear=Aler,+Huesca,+Aragon,+Spain&t=m&z=13" target="_blank">Dónde estamos (Google Maps)</span></a></li>
			</ul>
		</div>
	</div><!-- /home-content-header -->

	<div id="home-content">
		<div id="home-nav">
			<div class="home-nav-section-wide">
				<img src="/public/images/tecnisol_car.gif" alt="home-nav-widgets" height="147" width="250">
			</div>
			
			<div class="home-nav-section-wideend last">
				<p>Nuestra empresa está especializada en la realización de proyectos e instalaciones de energía solar térmica y fotovoltaica y prestamos servicio en <strong>todo el Pirineo</strong>.</p>
                <p>Ofrecemos a nuestros clientes asesoramiento técnico personalizado, buscando siempre la <strong>viabilidad y el máximo rendimiento</strong> en todos los proyectos. Realizamos <strong>presupuesto sin ningún compromiso.</strong></p>
                <p>Instalamos únicamente equipos solares de alta eficiencia fabricados por <strong>las mejores marcas del mercado</strong>, ofreciendo calidad y garantía a precios competitivos.</p>
                <p>El personal técnico posee la titulación adecuada (título de Técnico Proyectista Instalador de Energía Solar de <strong>CENSOLAR</strong>) además de una gran experiencia en este tipo de instalaciones.</p>
                <p><strong>Asesoramos</strong> sobre las ayudas autonómicas y estatales y tramitamos las subvenciones a las que nuestros clientes tengan derecho.</p>
			</div>
		</div><!-- /home-nav -->
	
		<div id="home-sidebar">
			<div class="home-sidebar-section">
				<h2>Novedad</h2>
				<p> Visita nuestra <a href="/products">tienda</a> y solicita todo lo que necesitas de nuestros proveedores. Nos encargaremos de hacértelo llegar.</p>
				<p>Hemos hecho un esfuerzo para conseguir prestar un servicio más eficiente y ajustado a tus necesidades.</p>
				<p>Si tienes cualquier pregunta, no dudes en <a href="/contacto">hacérnosla llegar</a>.</p>
			</div>
			
		</div><!-- home-sidebar -->
	</div><!-- /home-content -->

</div>