<div id="home-content-wrapper">
<!-- /home-content-header -->

  <div id="home-content">

   <h1>Modificar producto:</h1>

    <%= render 'form' %>

   </div><!-- /home-content -->

<%= link_to 'Visualizar', @product %> |
<%= link_to 'Ãndice', products_path %>

</div><!-- /home-content-wrapper -->
