<div id="home-content-wrapper">
<!-- /home-content-header -->

  <div id="home-content">

   <h1>Modificar producto:</h1>

    <%= render 'form' %>

   </div><!-- /home-content -->

<div id="product_links">
<%= link_to 'Lista de productos', :controller => 'products', :action => 'listing' %>
</div>

</div><!-- /home-content-wrapper -->
